{% extends 'navbar.html' %}
{% block content %}

<style>
    .s
    {
        margin-top:100px;
    }
</style>

<section style="height:100vh">

    <div class="container s">
        <h5>{{user}}'s Orders {{user.username}}</h5>
        {% for i in orders %}
            <div class="row mt-5">
                <div class="col-4">
                    <img src="{{i.product.p_image.url}}" height="250px" width="250px">
                </div>
                <div class="col-6">
                    Item Name : {{i.product.p_name}}<br>
                    Order Date : {{i.ordered_date}}<br>
                    {% if i.delivery_status == "pending" %}
                        Delivery Status : Not Delivered
                    {% else %}
                        Delivery Status : Delivered
                    {% endif %}
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}